/* styles.css */

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

header {
  background: rgba(76, 175, 80, 0.9);;
  color: white;
  padding: 10px;
  text-align: center;
}

header h1 {
  margin-bottom: 10px;
}

header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

header a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ddd;
  background-color: #f1f1f1;
}

th {
  background-color: rgba(76, 175, 80, 0.9);;
  color: white;
}


tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
  th, td {
      display: block;
      text-align: right;
  }

  th {
      position: absolute;
      left: -9999px;
  }

  tr {
      margin-bottom: 10px;
      border: 1px solid #ddd;
  }

  td {
      text-align: left;
      padding-left: 50%;
      position: relative;
  }

  td::before {
      content: attr(data-label);
      position: absolute;
      left: 10px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;
      font-weight: bold;
  }
}